# Ignore LaTeX aux files
  Plantillas/Tesis/*.gz
  Plantillas/Tesis/*.aux
  Plantillas/Tesis/*.bbl
  Plantillas/Tesis/*.blg
  Plantillas/Tesis/*.lof
  Plantillas/Tesis/*.log
  Plantillas/Tesis/*.lot
  Plantillas/Tesis/*.out
  Plantillas/Tesis/*.toc
  